* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: #e5e5e5;
}

/* Box 1 */

.content-1 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
} 

.title {
    width: 800px;
    height: 250px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 40px 0 0 40px;
}

h1 {
    color: rgb(24, 173, 173);
    font-weight: bold;
    font-size: 25px;
    font-weight: 600;
}

.title h2 {
    color: rgb(148, 219, 40);
    font-weight: 500;
    font-size: 20px;
    padding-top: 30px;
}

.title p {
    color: rgba(139, 134, 134, 0.8);
    font-size: 19px;
    padding-top: 20px;
    width: 700px;
}

/* Box 2 */
.price {
    background: rgb(22, 161, 161);
    border-bottom-left-radius: 10px;
    color: white;
    align-items: flex-start;
    height: 300px;
    width: 450px;
    padding: 50px 0 10px 40px;
}

.price h2 {
    font-size: 20px;
}

.price h3 {
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
}

.price p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    font-weight: 400;
}

button {
    text-decoration: none;
    border: none;
    background-color: rgb(136, 199, 42);
    width: 350px;
    height: 60px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

/* Box 3 */

.content-2 {
    display: flex;
    justify-content: center;
}

.list {
    background-color: rgb(14, 197, 197);
    width: 350px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list h2 {
    padding: 20px 0 20px 60px;
    font-weight: 600;
    color: white;
}

.list li {
    list-style-type: none;
    padding: 0 0 8px 50px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    letter-spacing: 0.1;
}